services:
  ocr-server:
    build: .
    container_name: ocr_server
    ports:
      - "8001:8001"
    volumes:
      - ./models:/root/.EasyOCR/model
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: always

  llm-server:
    image: ollama/ollama:latest
    container_name: llm_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: always

volumes:
  ollama_data: