services:
  mariadb:
    image: docker.io/bitnami/mariadb:latest
    container_name: moodle-mariadb
    ports:
      - '3306:3306'
    environment:
      - MARIADB_ROOT_PASSWORD=123456
      - MARIADB_USER=bn_moodle
      - MARIADB_PASSWORD=123456
      - MARIADB_DATABASE=bitnami_moodle
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_unicode_ci
    volumes:
      - mariadb_data:/bitnami/mariadb
    restart: unless-stopped

  moodle:
    image: docker.io/bitnami/moodle:5.0
    container_name: moodle-app
    ports:
      - '8080:8080'
      - '8443:8443'
    environment:
      - MOODLE_DATABASE_HOST=mariadb
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_USER=bn_moodle
      - MOODLE_DATABASE_PASSWORD=123456
      - MOODLE_DATABASE_NAME=bitnami_moodle
    volumes:
      - moodle_data:/bitnami/moodle
      - moodledata_data:/bitnami/moodledata
    depends_on:
      - mariadb
    restart: unless-stopped

volumes:
  mariadb_data:
    driver: local
  moodle_data:
    driver: local
  moodledata_data:
    driver: local